{% if mensaje is not defined %}
    {% set mensaje = "" %}
{% endif %}
{% if status is not defined %}
    {% set status = "new" %}
{% endif %}
{% if status =='send' %}
<div class="alert alert-success" style="color: white; font-weight: bold; font-size: 1.2em;">
    {{ mensaje }}
</div>
{% elseif status == 'notsend' %}
<div class="alert alert-error">
    {{ mensaje }}
</div>
{% endif %}
<form onsubmit="return false;" id="formContacto" action="{{path('contacto')}}" method="post" class="form" novalidate="novalidate" role="form">
    {{ form_widget(form.name, {'attr': {'class': 'contactanos','placeholder':'Nombre' }}) }}
    {{ form_widget(form.email, {'attr': {'class': 'contactanos','placeholder':'Email' }}) }}
    {{ form_widget(form.subject, {'attr': {'class': 'contactanos','placeholder':'Asunto' }}) }}
    {{ form_widget(form.telefono, {'attr': {'class': 'contactanos','placeholder':'Teléfono' }}) }}
    {{ form_widget(form.body, {'attr': {'class': 'contactanos','rows':'5','placeholder':'Mensaje' }}) }}
    <input id="botonEnviarContacto" type="button" class="contactanos boton" value="Enviar">
    {{ form_rest(form) }}    
</form>
