{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/owl.theme.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/main.css')}}"/>
{% endblock %}

{% block contenido %}
    <section class="carrusel linea-separacion">
        <div class="carrusel-contenedor">
            <span id="slider-prev"></span>
            <span id="slider-next"></span>
            <ul id="sliderCarrusel" class="lista-carrusel">
                {% for promocion in promociones %}
                <li class="item-carrusel"><img src="{{promocion.webPath}}" alt="{{promocion.nombre}}"></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="servicios linea-separacion" id="servicios">
        <article class="servicios">
            <header>
                <h2 class="titulo gris">servicios</h2>
            </header>
            <ul id="sliderServicios" class="lista-servicios">
                {% for servicio in servicios %}
                <li class="item-servicio">
                    <figure class="item-servicio-contenedor">
                        {% if servicio.imagen | length > 0 %}
                            <img src="{{servicio.webPath}}" alt="{{servicio.nombre}}" />
                        {% else %}
                            <img src="/images/icono_servicios.png" alt="{{servicio.nombre}}" />
                        {% endif %}
                        <figcaption class="item-servicio-caption">
                            <div class="item-servicio-titulo">
                                {{servicio.nombre}}
                            </div>
                            <div class="item-servicio-descripcion">
                                {{servicio.descripcion|raw}}
                            </div>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
    <section class="aliados-reconocidos">
        <article class="aliados linea-separacion text-align-center">
            <header>
                <h2 class="titulo vino">aliados</h2>
            </header>
            <figure class="aliados-logos"> 
                <img src="{{asset('images/aliados_logos.png')}}" alt="">
            </figure>
        </article>
        <article class="reconocidos text-align-center">
            <p>
                <div class="reconocidos-titulo">PAKMAIL es reconocido por:</div>
                <figure class="reconocidos-reconocimientos">
                    <img src="{{asset('images/reconocimientos.png')}}" alt="">
                </figure>
            </p>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/jquery.bxslider.js')}}"></script>
    <script src="{{asset('js/owl.carousel.js')}}"></script>
    <script>
    $(document).ready(function(){
        $('#sliderCarrusel').bxSlider({
            controls: true,
            pager: false,
            auto: true,
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
            nextText: '&nbsp;',
            prevText: '&nbsp;',
            slideWidth: 960
        });
        $('#sliderServicios').owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [480,1],
            itemsMobile : [250,1],
            navigation : true,
            navigationText : ["<img src='/images/flecha2servicios.png' />", "<img src='/images/flecha1servicios.png' />"],
            stopOnHover: true,
            responsive: true,
            itemsCustom: false,
        });
        
    });
    
    </script>
{% endblock %}