{% extends 'BackendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 

{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left">Perfiles de Envio</h2>
            <div class="clearfix"></div>
            <!-- Breadcrumb -->
            <div class="bread-crumb">
                <a href="{{path('homepage')}}"><i class="fa fa-home"></i>Dashboard</a> 
                <span class="divider">/</span>
                <a href="{{path('perfiles_envio')}}" class="bread-current">Perfiles de Envio</a>
                <span class="divider">/</span>
                <a href="{{path('perfiles_envio_show',{'id': entity.id})}}" class="bread-current">{{entity.nombre}}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('perfiles_envio_new')}}" class="btn btn-info pull-right" style="color: white; margin-left: 5px;">Crear registro</a>
                {% endif %}
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container" id="contenidoPagina">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left">Registro del cliente "{{entity.nombre}}"</div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <div class="padd contenido-formulario">    
                                        <table class="record_properties">
                                            <tbody>
                                                <tr>
                                                    <th>Id</th>
                                                    <td>{{ entity.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Empresa</th>
                                                    <td>{{ entity.cliente.empresa.nombre }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Usuario de empresa</th>
                                                    <td>{{ entity.cliente.nombre }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Dirección Fiscal</th>
                                                    <td>
                                                        <ul>
                                                            <li>Calle: {{entity.direccionFiscal.calle}}</li>
                                                            <li>Numero Exterior: {{entity.direccionFiscal.numExterior}}</li>
                                                            <li>Numero Interior: {{entity.direccionFiscal.numInterior}}</li>
                                                            <li>Colonia: {{entity.direccionFiscal.colonia}}</li>
                                                            <li>Población: {{entity.direccionFiscal.poblacion}}</li>
                                                            <li>Municipio o Delegación: {{entity.direccionFiscal.delegacion}}</li>
                                                            <li>Estado o entidad federativa: {{entity.direccionFiscal.estado}}</li>
                                                            <li>País: {{entity.direccionFiscal.pais}}</li>
                                                            <li>Codigo postal: {{entity.direccionFiscal.cp}}</li>
                                                            <li>Teléfono: {{entity.direccionFiscal.telefono}}</li>
                                                            <li>Celular: {{entity.direccionFiscal.celular}}</li>
                                                            <li>E-mail: {{entity.direccionFiscal.email}}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Dirección Remitente</th>
                                                    <td>
                                                        <ul>
                                                            <li>Calle: {{entity.direccionRemitente.calle}}</li>
                                                            <li>Numero Exterior: {{entity.direccionRemitente.numExterior}}</li>
                                                            <li>Numero Interior: {{entity.direccionRemitente.numInterior}}</li>
                                                            <li>Colonia: {{entity.direccionRemitente.colonia}}</li>
                                                            <li>Población: {{entity.direccionRemitente.poblacion}}</li>
                                                            <li>Municipio o Delegación: {{entity.direccionRemitente.delegacion}}</li>
                                                            <li>Estado o entidad federativa: {{entity.direccionRemitente.estado}}</li>
                                                            <li>País: {{entity.direccionRemitente.pais}}</li>
                                                            <li>Codigo postal: {{entity.direccionRemitente.cp}}</li>
                                                            <li>Teléfono: {{entity.direccionRemitente.telefono}}</li>
                                                            <li>Celular: {{entity.direccionRemitente.celular}}</li>
                                                            <li>E-mail: {{entity.direccionRemitente.email}}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Dirección Destino</th>
                                                    <td>
                                                        <ul>
                                                            <li>Calle: {{entity.direccionDestino.calle}}</li>
                                                            <li>Numero Exterior: {{entity.direccionDestino.numExterior}}</li>
                                                            <li>Numero Interior: {{entity.direccionDestino.numInterior}}</li>
                                                            <li>Colonia: {{entity.direccionDestino.colonia}}</li>
                                                            <li>Población: {{entity.direccionDestino.poblacion}}</li>
                                                            <li>Municipio o Delegación: {{entity.direccionDestino.delegacion}}</li>
                                                            <li>Estado o entidad federativa: {{entity.direccionDestino.estado}}</li>
                                                            <li>País: {{entity.direccionDestino.pais}}</li>
                                                            <li>Codigo postal: {{entity.direccionDestino.cp}}</li>
                                                            <li>Teléfono: {{entity.direccionDestino.telefono}}</li>
                                                            <li>Celular: {{entity.direccionDestino.celular}}</li>
                                                            <li>E-mail: {{entity.direccionDestino.email}}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Destino del envio</th>
                                                    <td>
                                                        <ul>
                                                            <li>Referencia: {{entity.referencia}}</li>
                                                            <li>Tipo: {{entity.tipo}}</li>
                                                            <li>Peso Kg: {{entity.kilogramos}}</li>
                                                            <li>Precio: {{entity.precio}}</li>
                                                            <li>No. Guia: {{entity.numGuia}}</li>
                                                            <li>No. de Control Ticket o Folio: {{entity.folio}}</li>
                                                            <li>Desea Asegurar Su Envio?: {{(entity.asegurarEnvio)?"Sí":"No"}}</li>
                                                            <li>Monto a Asegurar (Max.$100,000,00): {{entity.montoSeguro}}</li>
                                                            <li>Importe del Seguro (2%): {{entity.importeSeguro}}</li>
                                                            <li>Observaciones: {{entity.observaciones | raw }}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Nombre del Perfil</th>
                                                    <td>{{ entity.nombre }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Es activo?</th>
                                                    <td>{{ (entity.isActive)?'Si':'No' }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Creado</th>
                                                    <td>{{ entity.createdAt | date('d-m-Y') }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Actualizado</th>
                                                    <td>{{ entity.updatedAt | date('d-m-Y') }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="widget-foot">
                                    <button id="botonRegresar" class="btn btn-default" onclick="javascript:regresar('{{path('perfiles_envio')}}')">Regresar</button>
                                    <button id="botonEditar" class="btn btn-info" onclick="javascript:editarRegistro('{{path('perfiles_envio_edit',{id: entity.id})}}')">Editar</button>
                                    <div style="float: left; margin-right: 3px;">
                                        <form id="formEliminar" action="{{ path('perfiles_envio_delete', { 'id': entity.id }) }}" method="post">
                                            <input name="_method" value="DELETE" type="hidden"/>
											{{ form_widget(delete_form) }}
                                        </form>
                                        <button class="btn btn-danger " onclick="eliminarRegistro();">Eliminar</button>
                                    </div>        
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->        
    <div class="clearfix"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
<!-- jQuery Notification - Noty -->
<script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>

<script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
<script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
<script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->


<script>
var regresar = function(url){
    location.href=url;
};

var editarRegistro = function(url){
    location.href=url;
};
    
var eliminarRegistro = function(){
  {% if is_granted('ROLE_ADMIN') %}
    bootbox.confirm("Esta seguro de eliminar el registro?", function(result) {
      if(result){
         $("#formEliminar").submit();
      }
    });
  {% else %}
    noty({text: 'No tienes los permisos suficientes para realizar esta accion',layout:'bottom', type:'warning', timeout:2000 });
  {% endif %}      
};

</script>

    
{% endblock %}

