<tr id="registro-{{entity.id}}">
    <td><a href="{{ path('envios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
    <td>{{ entity.cliente.empresa.nombre }}</td>
    <td>{{ entity.cliente.nombre }}</td>
    <td class="status">{{ entity.status | status | raw }}</td>
    <td>{{ entity.createdAt | date('d/m/Y') }}</td>
    <td>
        <button onclick="javascript:editarRegistro('{{ path('envios_edit', { 'id': entity.id }) }}')" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
        <button onclick="javascript:editarRegistro('{{ path('envios_show', { 'id': entity.id }) }}', '#registro-{{entity.id}}')" class="btn btn-xs btn-info"><i class="fa fa-folder-open"></i> </button>
        {% if entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_EN_PROCESO') %}
            <button data-url="{{path('envios_aceptar', { 'id': entity.id }) }}" onclick="javascript:backend({{entity.id}}, '.aceptar')" class="btn btn-xs btn-success aceptar"><i class="fa fa-check"></i></button>
            <button data-url="{{path('envios_rechazar', { 'id': entity.id }) }}" onclick="javascript:backend({{entity.id}}, '.rechazar')" class="btn btn-xs btn-danger rechazar"><i class="fa fa-times"></i></button>
        {% elseif entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_ACEPTADA') %}
            <button data-url="{{path('envios_rechazar', { 'id': entity.id }) }}" onclick="javascript:backend({{entity.id}}, '.rechazar')" class="btn btn-xs btn-danger rechazar"><i class="fa fa-times"></i></button>
        {% elseif entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_RECHAZADA') %}
            <button data-url="{{path('envios_aceptar', { 'id': entity.id }) }}" onclick="javascript:backend({{entity.id}}, '.aceptar')" class="btn btn-xs btn-success aceptar"><i class="fa fa-check"></i></button>
        {% endif %}
    </td>
</tr>
