{% extends 'BackendBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <!-- Widgets stylesheet -->
  <link rel="stylesheet" href="{{asset('css/widgets.css')}}">   
    <!-- Gritter Notifications stylesheet -->
  <link rel="stylesheet" href="{{asset('css/jquery.gritter.css')}}"> 

{% endblock %}

{% block mainbar %}
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left">Envios</h2>
            <div class="clearfix"></div>
            <!-- Breadcrumb -->
            <div class="bread-crumb">
                <a href="{{path('homepage')}}"><i class="fa fa-home"></i>Dashboard</a> 
                <span class="divider">/</span>
                <a href="{{path('envios')}}" class="bread-current">Envios</a>
                <span class="divider">/</span>
                <a href="{{path('envios_show',{'id': entity.id})}}" class="bread-current">{{entity.createdAt | date('d-m-Y') }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('envios_new')}}" class="btn btn-info pull-right" style="color: white; margin-left: 5px;">Crear registro</a>
                {% endif %}
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <!-- Matter -->

        <div class="matter">
            <div class="container" id="contenidoPagina">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-head">
                                    <div class="pull-left">Registro del cliente "{{entity.cliente.nombre}}"</div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <div class="padd contenido-formulario">    
                                        {% include 'PakmailBundle:Envio:envio.html.twig' with { 'entity': entity }%}
                                    </div>
                                </div>
                                <div class="widget-foot">
                                    <button id="botonRegresar" class="btn btn-default" onclick="javascript:regresar('{{path('envios')}}')">Regresar</button>
                                    <button id="botonEditar" class="btn btn-info" onclick="javascript:editarRegistro('{{path('envios_edit',{id: entity.id})}}')">Editar</button>
                                    {% if entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_EN_PROCESO') %}
                                        {% set statusRevisada = '' %}
                                        {% set statusRechazada = '' %}
                                    {% elseif entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_ACEPTADA') %}
                                        {% set statusRevisada = 'disabled="disabled"' %}
                                        {% set statusRechazada = '' %}
                                    {% elseif entity.status  is constant('InteractiveValley\\PakmailBundle\\Entity\\Envio::STATUS_RECHAZADA') %}
                                        {% set statusRevisada = '' %}
                                        {% set statusRechazada = 'disabled="disabled"' %}
                                    {% endif %}    
                                        
                                    <button id="botonRevisada" class="btn btn-success" data-url="{{path('envios_aceptar',{id: entity.id})}}" {{statusRevisada}}>Revisada</button>
                                    <button id="botonRechazada" class="btn btn-danger" data-url="{{path('envios_rechazar',{id: entity.id})}}" {{statusRechazada}}>Rechazada</button>
                                    <div style="float: left; margin-right: 3px;">
                                        <form id="formEliminar" action="{{ path('envios_delete', { 'id': entity.id }) }}" method="post">
                                            <input name="_method" value="DELETE" type="hidden"/>
											{{ form_widget(delete_form) }}
                                        </form>
                                        <button class="btn btn-danger " onclick="eliminarRegistro();">Eliminar</button>
                                    </div>        
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->        
    <div class="clearfix"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

<script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script> <!-- jQuery UI -->
<!-- jQuery Notification - Noty -->
<script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
<script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{asset('js/datatables/js/jquery.dataTables.js')}}"></script>

<script src="{{asset('js/jquery.slimscroll.min.js')}}"></script> <!-- jQuery SlimScroll -->
<script src="{{asset('js/bootbox.min.js')}}"></script> <!-- Filter for support page -->
<script src="{{asset('js/custom.js')}}"></script> <!-- Custom codes -->


<script>
var regresar = function(url){
    location.href=url;
};

var editarRegistro = function(url){
    location.href=url;
};
    
var eliminarRegistro = function(){
  {% if is_granted('ROLE_ADMIN') %}
    bootbox.confirm("Esta seguro de eliminar el registro?", function(result) {
      if(result){
         $("#formEliminar").submit();
      }
    });
  {% else %}
    noty({text: 'No tienes los permisos suficientes para realizar esta accion',layout:'bottom', type:'warning', timeout:2000 });
  {% endif %}      
};

$(document).on('ready',function(){
   $("#botonRevisada").on("click",function(){
       var $elemento = $('.status');
       var url = $(this).data('url');
       $(".loader").fadeIn();
       $.ajax({
            url: url,
            type: 'PATCH',
            dataType: 'html',
            success: function(data){
               $elemento.html($(data).find('.status').html());
               noty({ text: 'Actualizacion realizada', layout:'topRight', type:'success',  timeout:2000 });
               $(".loader").fadeOut();
               $("#botonRevisada").attr('disabled','disabled');
               $("#botonRechazada").removeAttr('disabled');
            },
            error: function(data){
                noty({ text: 'Error de actualizacion', layout:'topRight', type:'error', timeout:2000 });
                console.log(data);
                $(".loader").fadeOut();
            },
        });
     });
     
     $("#botonRechazada").on("click",function(){
       var $elemento = $('.status');
       var url = $(this).data('url');
       $(".loader").fadeIn();
       $.ajax({
            url: url,
            type: 'PATCH',
            dataType: 'html',
            success: function(data){
               $elemento.html($(data).find('.status').html());
               noty({ text: 'Actualizacion realizada', layout:'topRight', type:'success',  timeout:2000 });
               $(".loader").fadeOut();
               $("#botonRechazada").attr('disabled','disabled');
               $("#botonRevisada").removeAttr('disabled');
            },
            error: function(data){
                noty({ text: 'Error de actualizacion', layout:'topRight', type:'error', timeout:2000 });
                console.log(data);
                $(".loader").fadeOut();
            },
        });
     });
});
</script>

    
{% endblock %}

