{% extends '::base.html.twig' %}

{% block title %}Pakmail | Area de clientes{% endblock %}

{% block stylesheets %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
    <link rel="stylesheet" href="{{asset('css/pakmail.css')}}">
{% endblock %}

{% block body %}
    <header class="vino encabezado">
        <div class="logo-usuario">
            <figure class="logo">
                <img src="{{asset('images/logo_footer.png')}}">
            </figure>
            <div class="usuario">
                <span class="datos-usuario">{{app.user.nombre}}</span>
                <a class="datos-usuario" href="{{path('pakmail_logout')}}">Cerrar sesión</a>
            </div>
        </div>
        <div class="menu_bar">
            <a href="#" id="bt-menu" class="bt-menu">
                <img src="{{asset('images/logo_footer.png')}}" alt="" class="logo">
                <span class="icon-menu">Menu</span>
            </a>
	</div>
    </header>
    <!-- Main content starts -->
    <div class="content">
        <!-- Sidebar -->
        <nav class="sidebar">
            <div class="sidebar-dropdown">
                <a href="#">Navegador</a>
            </div>
            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                <li>
                    <a href="{{path('pakmail_envios')}}">
                        <i class="fa fa-user"></i> <span>Generar Solicitud de Envio</span>
                    </a>
                </li>
                <li>
                    <a href="{{path('pakmail_perfiles')}}">
                        <i class="fa fa-gears"></i> <span>Perfiles de Envio</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar ends -->
        {% block contenido %} {% endblock %}
    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer class="footer">
        <div class="container">
        <!--img src="{{asset('images/interactivevalley.png')}}"/-->
		&nbsp;
        </div>
    </footer>
    <!-- Footer ends -->
    <div class="loader"></div>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script>
        $(document).ready(function () {
            $(".loader").fadeOut();
        });
    </script>
{% endblock %}