{% extends 'FrontendBundle::pakmail.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}
<!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <!-- Table -->
                <div class="row">
                    <div class="col-md-8">
                        <article class="solicitud-envio">
                            <header>
                                <hgroup>
                                    <h3 class="titulo vino">Generar Solicitude de envio</h3>
                                    <h6 class="subtitulo vino"></h6>
                                </hgroup>
                            </header>
                            {{form_errors(form)}}
                            {{form_start(form)}}
                            <fieldset>
                                {{form_row(form.direccionFiscal)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionRemitente)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionDestino)}}
                            </fieldset>
                            <fieldset>
                                <legend>Destino de envío</legend>
                                {{form_rest(form)}}
                            </fieldset>
                            <input type="submit" value="Generar solicitud" class="btn btn-bg btn-danger"/>
                            {{form_end(form)}}
                            
                        </article>
                    </div>
                    <div class="col-md-4">
                        <h5 class="perfiles-titulo">Perfiles de envios</h5>
                        {% if perfiles | length > 0 %}
                        <div class="perfiles-guardados">
                            <ul class="lista-perfiles">
                                {% for perfil in perfiles %}
                                    <li class="item-perfil" data-url="{{path('pakmail_perfiles_copia',{'id': perfil.id})}}">{{perfil.nombre}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/bootbox.min.js')}}"></script>
<script>
    var creacionEnvio = {{creacionEnvio}};
    $(document).on('ready',function(){
        $(".item-perfil").on('click',function(){
           location.href = $(this).data('url'); 
        });
        
        $("#interactivevalley_pakmailbundle_envio_importeSeguro").on('focus',function(){
            var monto = $("#interactivevalley_pakmailbundle_envio_montoSeguro").val();
            if(monto>0){
                $(this).val(monto*.02);
            }
        });
        
        if(creacionEnvio){
			bootbox.confirm('<h3>Gracias nos pondremos en contacto con usted a la brevedad posible.</h3><p>¿Desea guardar el envio en sus perfiles de envio?<br/><span style=\"font-size: .8em;\">*Al guardar un perfil de envío usted podra autorellenar sus campos en futuras operaciones.</span></p>', function (result) {
              if (result) {
                  	bootbox.prompt('<p>Por favor introduzca un nombre de referencia para este perfil de envio<br/><span style=\"font-size: .8em;\">Usted puede editar sus perfiles de envio en cualquier momento<br/>ingresando al area de Perfiles de Envio de lado izquierdo.</span></p>', function(nombrePerfil) {                
					  if (nombrePerfil === null) {                                             
						bootbox.alert("Nombre de perfil no recibido!");                            
					  } else {
						if(nombrePerfil.length>0){
							$.ajax({
								url: '{{path('pakmail_perfiles_create')}}',
								type: 'POST',
								dataType: 'json',
								data: {'nombre': nombrePerfil, 'envio': creacionEnvio },
								success: function (data) {
									bootbox.alert("Perfil ha sido guardado!");
									console.log(data);
									location.reload();
								},
								error: function (data) {
									bootbox.alert("Error: no se ha podido realizar la operacion solicitada!");
									console.log(data);
								}
							});
						}                          
					  }	
					});
              }
          	});
            
        }
        
    });
    
</script>
{% endblock %}