{% extends 'FrontendBundle::pakmail.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}
<!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <!-- Table -->
                <div class="row">
                    <div class="col-md-8">
                        <article class="solicitud-envio">
                            <header>
                                <hgroup>
                                    <h3 class="titulo vino">Generar Solicitude de envio</h3>
                                    <h6 class="subtitulo vino"></h6>
                                </hgroup>
                            </header>
                            {{form_start(form)}}
                            <fieldset>
                                {{form_row(form.direccionFiscal)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionRemitente)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionDestino)}}
                            </fieldset>
                            <fieldset>
                                <legend>Datos del envio</legend>
                                {{form_rest(form)}}
                            </fieldset>
                            {{form_end(form)}}
                            <a href="" class="btn btn-bg btn-danger">Generar solicitud</a>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <h5 class="perfiles-titulo">Perfiles de envios</h5>
                        <div class="perfiles-guardados">
                            <ul class="lista-perfiles">
                                {% for perfil in range(1,5) %}
                                    <li class="item-perfil">Nombre del perfil: {{perfil}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}