{% extends 'FrontendBundle::pakmail.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('css/select2.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <!-- Table -->
                <div class="row">
                    <div class="col-md-8">
                        <article class="solicitud-envio">
                            <header>
                                <hgroup>
                                    <h3 class="titulo vino">Editar perfil de envío</h3>
                                    <h6 class="subtitulo vino"></h6>
                                </hgroup>
                            </header>
                            <p style="color: red;">
                                Los campos marcados con * son obligatorios.
                                {{form_errors(form)}}
                            </p>
                            {{form_start(form)}}
                            <fieldset>
                                {{form_row(form.direccionFiscal)}}
                                
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionRemitente)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionDestino)}}
                            </fieldset>
                            <fieldset>
                                <legend>Destino de envío</legend>
                                <div>
                                    {{form_row(form.referencia)}}
                                    {{form_row(form.tipo)}}
                                    <div class="form-group">
                                        {{form_label(form.precio)}}
                                        <div class="input-group">
                                          <div class="input-group-addon">$</div>
                                          {{form_widget(form.precio)}}
                                          <div class="input-group-addon visualizar_precio"></div>
                                        </div>
                                    </div>
                                    {{form_row(form.numGuia)}}
                                    <div class="checkbox">
                                        <label>
                                            {{form_widget(form.asegurarEnvio)}} ¿Desea asegurar el envío?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        {{form_label(form.montoSeguro)}}
                                        <div class="input-group">
                                          <div class="input-group-addon">$</div>
                                          {{form_widget(form.montoSeguro)}}
                                          <div class="input-group-addon visualizar_monto_seguro"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{form_label(form.importeSeguro)}}
                                        <div class="input-group">
                                          <div class="input-group-addon">$</div>
                                          {{form_widget(form.importeSeguro)}}
                                          <div class="input-group-addon visualizar_importe_seguro"></div>
                                        </div>
                                    </div>      
                                    {{form_row(form.observaciones)}}
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td>Peso (kg) *</td>
                                            <td>Largo (cm) *</td>
                                            <td>Ancho (cm) *</td>
                                            <td>Alto (cm) *</td>
                                        </tr>
                                        <tr>
                                            <td>Medidas: &nbsp;</td>
                                            <td>{{form_widget(form.medidaPeso)}}</td>
                                            <td>{{form_widget(form.medidaLargo)}}</td>
                                            <td>{{form_widget(form.medidaAncho)}}</td>
                                            <td>{{form_widget(form.medidaAlto)}}</td>
                                        </tr>
                                    </table>
                                    <div class="checkbox">
                                        <label>
                                            {{form_widget(form.generarGastosAduana)}} ¿Genera gastos de aduana?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        {{form_label(form.valorDeclarado)}}
                                        <div class="input-group">
                                          <div class="input-group-addon">$</div>
                                          {{form_widget(form.valorDeclarado)}}
                                          <div class="input-group-addon visualizar_valor_declarado"></div>
                                        </div>
                                    </div>
                                    {{form_rest(form)}}
                                </div>
                                <input type="submit" value="Guardar cambios" class="btn btn-bg btn-danger"/>
                                {{form_end(form)}}

                        </article>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
        <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/bootbox.min.js')}}"></script>
        <!-- jQuery Notification - Noty -->
    <script src="{{asset('js/jquery.noty.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/themes/default.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/bottom.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/topRight.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/layouts/top.js')}}"></script> <!-- jQuery Notify -->
    <script src="{{asset('js/select2.js')}}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
           {% if errores | length > 0 %}
            {% for error in errores %}
                noty({
                    text: '{{ error }}',
                    layout: 'topRight',
                    type: 'error',
                    timeout: 2000
                });
                {% endfor %}    
            {% endif %}
            $(".search-select").select2({
                placeholder: "Seleccionar país",
                allowClear: true
            });
       });
    </script>
    <script src="{{asset('bundles/frontend/js/editar_perfil.js')}}"></script>
    
{% endblock %}