{% extends 'FrontendBundle::pakmail.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <!-- Table -->
                <div class="row">
                    <div class="col-md-8">
                        <article class="solicitud-envio">
                            <header>
                                <hgroup>
                                    <h3 class="titulo vino">Editar perfil de envio</h3>
                                    <h6 class="subtitulo vino"></h6>
                                </hgroup>
                            </header>
                            {{form_start(form)}}
                            <fieldset>
                                {{form_row(form.direccionFiscal)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionRemitente)}}
                            </fieldset>
                            <fieldset>
                                {{form_row(form.direccionDestino)}}
                            </fieldset>
                            <fieldset>
                                <legend>Datos del envio</legend>
                                {{form_rest(form)}}
                            </fieldset>
                            <input type="submit" value="Guardar cambios" class="btn btn-bg btn-danger"/>
                            {{form_end(form)}}
                           
                        </article>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->        
    <div class="clearfix"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}