{% extends '::base.html.twig' %}

{% block title %}Administrador{% endblock %}

{% block stylesheets %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" href="{{asset('css/bootstrap-responsive.html')}}">
    <link rel="stylesheet" href="{{asset('css/admin.css')}}">
{% endblock %}

{% block body %}

    {% set route = app.request.get('_route') %}

    {% set empresas = "" %}
    {% set clientes = "" %}
    {% set envios = "" %}
    {% set perfiles = "" %}
    {% set promociones = "" %}  
    {% set servicios = "" %}
    {% set preguntas = "" %}
    {% set newsletters = "" %}
    {% set fechas = "" %}
    {% set usuarios = "" %}
    {% set configuraciones = "" %}
    {% set tiposfecha = "" %}
    {% set menus = "" %}
    {% set aliados = "" %}

    {% if route == "empresas" %}
        {% set empresas = "class=open" %}
    {% elseif route == "clientes" %}
        {% set clientes = "class=open" %}
    {% elseif route == "envios" %}
        {% set envios = "class=open" %}
    {% elseif route == "perfiles_envio" %}
        {% set perfiles = "class=open" %}
    {% elseif route == "promociones" %}
        {% set promociones = "class=open" %}
    {% elseif route == "servicios" %}
        {% set servicios = "class=open" %}
    {% elseif route == "preguntas" %}
        {% set preguntas = "class=open" %}
    {% elseif route == "newsletters" %}
        {% set newsletters = "class=open" %}
    {% elseif route == "fechas" %}
        {% set fechas = "class=open" %}
    {% elseif route == "usuarios" %}
        {% set usuarios = "class=open" %}
    {% elseif route == "configuraciones" %}
        {% set configuraciones = "class=open" %}
    {% elseif route == "tiposfecha" %}
        {% set tiposfecha = "class=open" %}
    {% elseif route == "menus" %}
        {% set menus = "class=open" %}
    {% elseif route == "aliados" %}
        {% set aliados = "class=open" %}
    {% endif %}

    <header>
        <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                <!-- Menu button for smallar screens -->
                <div class="navbar-header">
                    <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span>Menu</span>
                    </button>
                    <a href="#" class="pull-left menubutton hidden-xs">
                        <i class="fa fa-bars"></i>
                    </a>
                    <!-- Site name for smallar screens -->
                    <a href="{{path('homepage')}}" class="navbar-brand">
                        <span class="bold">Dashboard</span>
                    </a>
                </div>

                <!-- Navigation starts -->
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         

                    <!-- Links -->
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown pull-right user-data">            
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img src="/apple-touch-icon.png" width="25" height="25"/>
                                {{app.user.nombre|default('anonimo')}} <b class="caret"></b>
                            </a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{path('backend_logout')}}">
                                        <i class="fa fa-key"></i> Salir
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Main content starts -->
    <div class="content">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown">
                <a href="#">Navegador</a>
            </div>
            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
            <ul id="nav">
                <!-- Main menu with font awesome icon -->
                <li>
                    <a {{promociones}} href="{{path('promociones')}}">
                        <i class="fa fa-tumblr"></i> <span>Promociones</span>
                    </a>
                </li>
                <li>
                    <a {{servicios}} href="{{path('servicios')}}">
                        <i class="fa fa-road"></i> <span>Servicios</span>
                    </a>
                </li>
                <li>
                    <a {{preguntas}} href="{{path('preguntas')}}">
                        <i class="fa fa-road"></i> <span>Preguntas</span>
                    </a>
                </li>
                <li>
                    <a {{tiposfecha}} href="{{path('tiposfecha')}}">
                        <i class="fa fa-cubes"></i> <span>Tipos de fecha</span>
                    </a>
                </li>
                <li>
                    <a {{fechas}} href="{{path('fechas')}}">
                        <i class="fa fa-cubes"></i> <span>Calendario</span>
                    </a>
                </li>
                <li>
                    <a {{envios}}  href="{{path('envios')}}">
                        <i class="fa fa-th-list"></i> <span>Envíos</span>
                    </a>
                </li>
                <li>
                    <a {{perfiles}}  href="{{path('perfiles_envio')}}">
                        <i class="fa fa-th-list"></i> <span>Perfiles de envío</span>
                    </a>
                </li>
                <li>
                    <a {{aliados}} href="{{path('aliados')}}">
                        <i class="fa fa-th-list"></i> <span>Aliados</span>
                    </a>
                </li>
                <li>
                    <a {{menus}} href="{{path('menus')}}">
                        <i class="fa fa-th-list"></i> <span>Menús</span>
                    </a>
                </li>
                <li>
                    <a {{newsletters}} href="{{path('newsletters')}}">
                        <i class="fa fa-cart-plus"></i> <span>Newsletters</span>
                    </a>
                </li>
                <li>
                    <a {{empresas}}  href="{{path('empresas')}}">
                        <i class="fa fa-th-large"></i> <span>Empresas</span>
                    </a>
                </li>
                <li>
                    <a {{clientes}}  href="{{path('clientes')}}">
                        <i class="fa fa-th-list"></i> <span>Usuarios de empresa</span>
                    </a>
                </li>
                <li>
                    <a {{usuarios}} href="{{path('usuarios')}}">
                        <i class="fa fa-user"></i> <span>Usuarios</span>
                    </a>
                </li>
                <li>
                    <a {{configuraciones}} href="{{path('configuraciones')}}">
                        <i class="fa fa-gears"></i> <span>Configuraciones</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar ends -->
        {% block mainbar %} {% endblock %}
    </div>
    <!-- Content ends -->
    <!-- Footer starts -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Copyright info -->
                    <!--p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p-->
                    <p></p>
                </div>
            </div>
        </div>
    </footer> 	
    <!-- Footer ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
    <div class="loader"></div>
{% endblock %}

{% block javascripts %}
    <!-- JS -->
    <script src="{{asset('js/jquery.js')}}"></script>
    <!--script src="{{asset('js/underscore-min.js')}}"></script-->
    <!--script src="{{asset('js/backbone-min.js')}}"></script-->
    <!--script src="{{asset('js/swig.js')}}"></script-->
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script>
        $(document).ready(function () {
            $(".loader").fadeOut();
        });
    </script>
{% endblock %}